{# Upstream favors DeviceTree, force it to use ACPI #}
{% set kernel_options %}
  {% if ARCH == "aarch64" %}acpi=force{% endif %}
{% endset %}
{% set distro_requires %}
  <distro_family op="=" value="Fedorarawhide"/>
  <distro_variant op="=" value="Server"/>
{% endset %}
{% set host_requires %}
  {# NOTE(rasibley): Exclude broken ppc64le machines which frequently abort #}
  {% if ARCH == "ppc64le" %}
    <not>
      <or>
        <hostname op="like" value="ibm-p9b-21%"/>
        <hostname op="like" value="ibm-p9b-11%"/>
        <hostname op="like" value="netqe-p9-01%"/>
      </or>
    </not>
  {% endif %}
  {# NOTE(rasibley): Exclude x86_64 machines which frequently abort on upstream jobs #}
  {% if ARCH == "x86_64" %}
    <not>
      <or>
        <hostname op="like" value="intel-sugarbay-dh%"/>
        <hostname op="like" value="cisco-c240m3-01.khw2%"/>
      </or>
    </not>
  {% endif %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude aarch64 systems which frequently abort due to firmware quirks #}
        <hostname op="like" value="huawei%"/>
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="cav-thunderx%"/>
        {# NOTE(rasibley): Exclude Cavium Thunder systems which fail to install #}
        {# NOTE(rasibley): https://github.com/linuxkit/linuxkit/issues/2434 #}
        <cpu>
          <vendor op="like" value="%CN8890%"/>
        </cpu>
      </or>
    </not>
  {% endif %}
{% endset %}
{% set ks_append %}
<ks_append><![CDATA[
%post
set -x
LVNAME=$(lvs -o lv_name,vg_name --noheadings | awk '/root/ {print $1}')
VGNAME=$(lvs -o lv_name,vg_name --noheadings | awk '/root/ {print $NF}')
lvextend -l +100%FREE /dev/${VGNAME}/${LVNAME}
xfs_growfs /
%end
]]></ks_append>
{% endset %}
