{% if TREE.startswith("rhel") or TREE.startswith("c9s") %}
  <task name="/kernel/kdump/setup-nfsdump" role="STANDALONE">
    <fetch url="{{ VARIABLES.kernel_tests_url }}#kdump/setup-nfsdump"/>
    <params>
      <param name="NFSSERVER" value="kdump.usersys.redhat.com"/>
      <param name="VMCOREPATH" value="/var/www/html/vmcore"/>
      <param name="WEBSERVERBASEURL" value="http://kdump.usersys.redhat.com/vmcore"/>
      <param name="CKI_ID" value="{{ tests_ns.id }}"/>
      <param name="CKI_NAME" value="setup-nfsdump"/>
      <param name="CKI_UNIVERSAL_ID" value="setup-nfsdump"/>
      {# Failures in this task should never block pipelines #}
      <param name="CKI_WAIVED" value="True"/>
    </params>
  </task>
  {% set tests_ns.id = tests_ns.id + 1 %}
{% endif %}
