<cpu_count op="&gt;" value="1"/>
<key_value key="DISKSPACE" op="&gt;=" value="50000"/>
{% if ARCH == "ppc64le" %}
  {# we've hit some performance issue on systems with hypervisor #}
  {# https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/issues/1119 #}
  <hypervisor op="=" value=""/>
{% endif %}
